{% extends "layout.html" %} {% block content %}
<div class="container-fluid d-flex justify-content-center">
  <div class="row justify-content-center width-100">
    <div class="col-md-12 text-center">
      <div class="card mx-auto" style="width: 30rem; margin-top: 2rem">
        <a href="/" class="btn btn-secondary margin-bottom-10">Voltar</a>
        <img
          src="{{profile.image}}"
          class="card-img-top img-rounded padding-10"
          alt="{{profile.name}}"
        />
        <div class="card-body">
          <h3 class="card-title">{{profile.name}}</h3>
          <p class="lead">Espécie: {{profile.species}}</p>
          <p class="lead">Gênero: {{profile.gender}}</p>
          <a class = "btn btn-dark" href="{{ url_for('get_location', id=profile['origin']['url'].split('/')[-1]) }}">Origem</a>
          <a class = "btn btn-dark" href="{{ url_for('get_location', id=profile['location']['url'].split('/')[-1]) }}">Localização atual</a>
          <div class="accordion accordion-flush">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Episódios
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <ul class="list-unstyled">
                    {% for episode in episodes %}
                    <li>
                      <a class="text-left" href="/episode/{{episode.id}}"
                        >{{episode.name}}</a
                      >
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
